In [1]:
import pandas as pd
import numpy as np

listdata=[10,20,30,40,50]
series=pd.Series(listdata)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
dates=pd.date_range(start="2025-04-01",end="2025-04-12")
print(dates)
print(type(dates))

DatetimeIndex(['2025-04-01', '2025-04-02', '2025-04-03', '2025-04-04',
               '2025-04-05', '2025-04-06', '2025-04-07', '2025-04-08',
               '2025-04-09', '2025-04-10', '2025-04-11', '2025-04-12'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [3]:
data= {
    'p1':{"name":"alice","age":25,"city":"new york"},
    'p2':{"name":"bob","age":30,"city":"paris"},
    'p3':{"name":"charlie","age":35,"city":"london"}
}
df=pd.DataFrame.from_dict(data,orient="index")
print(df)

       name  age      city
p1    alice   25  new york
p2      bob   30     paris
p3  charlie   35    london

In [4]:
listdata=[
    [1,"alice",10],
    [2,"bob",15],
    [3,"don",25]
]
df=pd.DataFrame(listdata,columns=['id','name','score'])
print(df)

   id   name  score
0   1  alice     10
1   2    bob     15
2   3    don     25

In [5]:
df=pd.read_csv("medals.csv")
print(df)

  country  gold_medals
0      us           46
1   india           30
2     pak           10

In [6]:
listdata=[
    [1,"alice",15],
    [2,"bob",15],
    [3,"don",45]
]
df=pd.DataFrame(listdata,columns=['id','name','score'])
print("data frame")
print(df)
# sorting first by score then by ascending order of name 
sorted_df=df.sort_values(by=['score','name'],ascending=[False,True])
print("sorted dataframe")
print(sorted_df)

data frame
   id   name  score
0   1  alice     15
1   2    bob     15
2   3    don     45
sorted dataframe
   id   name  score
2   3    don     45
0   1  alice     15
1   2    bob     15

In [7]:
data=[
    ["alice",25,"new york"],
    ["bob",30,"paris"],
    ["charlie",35,"london"]
]
df=pd.DataFrame(data,columns=["name","age","city"], index=["p1","p2","p3"])
print(df)
df=df.reset_index(drop=True)
print(df)

       name  age      city
p1    alice   25  new york
p2      bob   30     paris
p3  charlie   35    london
      name  age      city
0    alice   25  new york
1      bob   30     paris
2  charlie   35    london

In [9]:
data=[
    ["alice",25,"new york"],
    ["bob",30,"paris"],
    ["charlie",35,"london"]
     
]
df=pd.DataFrame(data,columns=["name","age","city"])
print(df.iloc[0:2,:])

    name  age      city
0  alice   25  new york
1    bob   30     paris

In [2]:
data=[
    ['alice','teacher',5500],
    ['bob','doctor',6000],
    ['emma','doctor',7000],
    ['charlie','techer',2000],
    ['dylan','enginner',3500]
]
df=pd.DataFrame(data,columns=['name','job','salary'])
print(df)
avg_by_job=df.groupby('job')['salary'].mean()
print(avg_by_job)

      name       job  salary
0    alice   teacher    5500
1      bob    doctor    6000
2     emma    doctor    7000
3  charlie    techer    2000
4    dylan  enginner    3500
job
doctor      6500.0
enginner    3500.0
teacher     5500.0
techer      2000.0
Name: salary, dtype: float64

In [4]:
data=[
    ['tcs',100000],
    ['infosys',-100000],
    ['cognizant',200000],
    ['wipro',-150000]
]
df=pd.DataFrame(data,columns=['company','profit'])
print(df)
temp=df.loc[df['profit'] > 0]
df['profit']=df['profit'] > 0
print(df)

     company  profit
0        tcs  100000
1    infosys -100000
2  cognizant  200000
3      wipro -150000
     company  profit
0        tcs    True
1    infosys   False
2  cognizant    True
3      wipro   False

In [5]:
data1=[
    [101,'john',30000],
    [102,'amith',35000],
    [103,'sona',20000]
]
df1=pd.DataFrame(data1,columns=['id','name','salary'])

data2=[
    [101,'developer'],
    [102,'tester'],
    [105,'engineer']
]
df2=pd.DataFrame(data2,columns=['id','position'])

df3=pd.merge(df1,df2,how='inner',on='id')
print(df3)

    id   name  salary   position
0  101   john   30000  developer
1  102  amith   35000     tester